# Variables d'environnement Next.js
.env
.env.local
.env.*.local
.env.production

# Environnement virtuel Python
.archimeuble/

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichier de log énorme
log.txt

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / Next.js
node_modules/
.next/
.next/*
out/
dist/
build/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vercel
.vercel
.vercel/*

# Tests
coverage/
.nyc_output/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production builds
*.tsbuildinfo